In [6]:
import psycopg2
connection = psycopg2.connect(
    host = '',
    port = 5432,
    user = '',
    password = '',
    database=''
    )
cursor=connection.cursor()

In [7]:
# using pandas to execute SQL queries
import pandas as pd

sql = """
SELECT *
FROM rookies_df
"""

pd.read_sql(sql, con=connection)

,index,name,halloffameclass,year_drafted,gp,min,pts,fgm,fga,FG%,...,fta,FT%,oreb,dreb,reb,ast,stl,blk,tov,eff
0,0,A.C. Green,Not Inducted,1985,82,18.8,6.4,2.5,4.7,53.9,...,2.0,61.1,2.0,2.7,4.6,0.7,0.6,0.6,1.2,8.7
1,1,A.J. English,Not Inducted,1990,70,20.6,8.8,3.6,8.2,43.9,...,2.2,70.7,0.9,1.2,2.1,2.5,0.4,0.2,1.6,7.1
2,2,A.J. Price,Not Inducted,2009,56,15.4,7.3,2.6,6.3,41.0,...,1.3,80.0,0.2,1.4,1.6,1.9,0.6,0.1,1.1,6.4
3,3,Aaron Brooks,Not Inducted,2007,51,11.9,5.2,1.8,4.4,41.3,...,1.0,85.7,0.3,0.8,1.1,1.7,0.3,0.1,0.9,4.7
4,4,Aaron Gordon,Not Inducted,2014,47,17.0,5.2,2.0,4.4,44.7,...,1.3,72.1,1.0,2.6,3.6,0.7,0.5,0.5,0.8,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,1532,Zarko Cabarkapa,Not Inducted,2003,49,11.6,4.1,1.7,4.0,41.1,...,1.1,66.0,0.5,1.5,2.0,0.8,0.2,0.3,1.1,3.6
1533,1533,Zaza Pachulia,Not Inducted,2003,59,11.3,3.3,1.2,3.0,38.9,...,1.5,64.4,1.2,1.8,2.9,0.2,0.4,0.2,0.6,4.1
1534,1534,Zeljko Rebraca,Not Inducted,2001,74,15.9,6.9,2.6,5.1,50.5,...,2.4,77.1,1.1,2.8,3.9,0.5,0.4,1.0,1.1,8.6
1535,1535,Zoran Planinic,Not Inducted,2003,49,9.7,3.1,1.1,2.6,41.1,...,1.2,63.3,0.3,0.8,1.1,1.4,0.3,0.1,0.7,3.2
1536,1536,Zydrunas Ilgauskas,Not Inducted,1997,82,29.0,13.9,5.5,10.7,51.8,...,3.7,76.2,3.4,5.4,8.8,0.9,0.6,1.6,1.8,18.0