# Machine Learning Deployment

## Load data from database

In [8]:
# imports
import psycopg2
import pandas as pd
import numpy as np
import pickle
from sqlalchemy import create_engine

import config as c

In [9]:
# connection to database
connection = psycopg2.connect(
    host = c.host,
    port = c.port,
    user = c.user,
    password = c.password,
    database = c.database
    )
cursor=connection.cursor()

In [11]:
data_sql = """
SELECT *
FROM comprehensive_dataset;
"""

#  load in tables as dataframes
data_df = pd.read_sql(data_sql, con=connection)
data_df.head()

,GUID,Name,HallOfFameStatus,HallofFameClass,YearDrafted,TO_YEAR,Years_Played,HOF_Elgibility_Year,Pick,Team,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,MIKENILES1980,Mike Niles,Not Inducted,NaN,1980,1980,1,1985,NaN,None,...,0.8,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4
1,WAYNEROBINSON1980,Wayne Robinson,Not Inducted,NaN,1980,1980,1,1985,31.0,LAL,...,3.0,72.9,1.4,2.2,3.6,1.4,0.6,0.3,1.8,7.8
2,BILLYREID1980,Billy Reid,Not Inducted,NaN,1980,1980,1,1985,182.0,GSW,...,0.7,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8
3,ALEXBRADLEY1981,Alex Bradley,Not Inducted,NaN,1981,1981,1,1986,86.0,NYK,...,1.2,60.4,0.8,0.9,1.7,0.3,0.3,0.1,0.7,3.4
4,GARRYWITTS1981,Garry Witts,Not Inducted,NaN,1981,1981,1,1986,103.0,WSB,...,0.9,82.5,0.6,0.7,1.3,0.8,0.4,0.1,0.8,3.8

## Input Prep

In [12]:
# drop features
ml_input_df = data_df[['Years_Played', 'Pick', 'PTS', 'FGM', 'FGA', 'FG%', '3P_Made', '3PA', 
                       '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK',
                       'TOV', 'EFF']]

In [15]:
# fill NaNs with 0
ml_input_df['Pick'] = ml_input_df['Pick'].fillna(0)
ml_input_df.head()

C:\Users\m207113\Bootcamp_Progams\Anaconda3_\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Years_Played,Pick,PTS,FGM,FGA,FG%,3P_Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,1,0.0,2.6,1.1,3.1,34.8,0.0,0.1,50.0,0.4,0.8,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4
1,1,31.0,7.9,2.9,6.3,46.0,0.0,0.1,0.0,2.2,3.0,72.9,1.4,2.2,3.6,1.4,0.6,0.3,1.8,7.8
2,1,182.0,3.2,1.4,3.1,45.4,0.0,0.1,0.0,0.4,0.7,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8
3,1,86.0,3.5,1.4,2.6,52.4,0.0,0.0,0.0,0.7,1.2,60.4,0.8,0.9,1.7,0.3,0.3,0.1,0.7,3.4
4,1,103.0,2.9,1.1,1.8,58.3,0.0,0.0,50.0,0.7,0.9,82.5,0.6,0.7,1.3,0.8,0.4,0.1,0.8,3.8

## Deploy Model

In [16]:
# open file and load model
with open('ml_model.sav', 'rb') as machine_learning:
    model = pickle.load(machine_learning)

In [17]:
# generate predictions on ml_input_df
predictions = model.predict(ml_input_df)
ml_output = np.array(predictions)

In [18]:
data_df['ML_Prediction'] = ml_output.tolist()
data_df.head()

,GUID,Name,HallOfFameStatus,HallofFameClass,YearDrafted,TO_YEAR,Years_Played,HOF_Elgibility_Year,Pick,Team,...,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF,ML_Prediction
0,MIKENILES1980,Mike Niles,Not Inducted,NaN,1980,1980,1,1985,NaN,None,...,45.9,0.6,0.7,1.3,0.3,0.2,0.0,0.6,1.4,0
1,WAYNEROBINSON1980,Wayne Robinson,Not Inducted,NaN,1980,1980,1,1985,31.0,LAL,...,72.9,1.4,2.2,3.6,1.4,0.6,0.3,1.8,7.8,0
2,BILLYREID1980,Billy Reid,Not Inducted,NaN,1980,1980,1,1985,182.0,GSW,...,56.4,0.5,0.6,1.0,1.2,0.6,0.1,1.3,2.8,0
3,ALEXBRADLEY1981,Alex Bradley,Not Inducted,NaN,1981,1981,1,1986,86.0,NYK,...,60.4,0.8,0.9,1.7,0.3,0.3,0.1,0.7,3.4,0
4,GARRYWITTS1981,Garry Witts,Not Inducted,NaN,1981,1981,1,1986,103.0,WSB,...,82.5,0.6,0.7,1.3,0.8,0.4,0.1,0.8,3.8,0

## Write to Databse as a Table

In [20]:
# create engine to connect to db
engine = create_engine('postgresql+psycopg2://postgres:tC1sfkNBaUqSH4noRcz6@nba-hof-project.cxpeww6dbftb.us-east-2.rds.amazonaws.com:5432/postgres')

# load df into db
data_df.to_sql('HOF_Predictions', engine)

ValueError: Table 'HOF_Predictions' already exists.