In [1]:
# Import Dependencies
import pandas as pd
import sqlite3 as sql
import os

In [2]:
## Based on an example found at https://www.kaggle.com/code/agilesifaka/historic-nba-drafting-game-and-player-analysis

# Connect to SQL database
db_path = 'Basketball_Dataset/basketball.sqlite'
connection = sql.connect(db_path) # create connection object to database
print("SQL database connected")
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", connection)
print(table)

SQL database connected
                     name
0                  Player
1                    Team
2         Team_Attributes
3            Team_History
4       Player_Attributes
5          Game_Officials
6   Game_Inactive_Players
7             Team_Salary
8           Player_Salary
9                   Draft
10          Draft_Combine
11          Player_Photos
12            Player_Bios
13                   Game
14                   News
15           News_Missing

In [3]:
# Query the Draft table
query = """
    SELECT 
        ID,
        DISPLAY_FIRST_LAST,
        BIRTHDATE,
        POSITION,
        DRAFT_YEAR
    FROM Player_Attributes
    WHERE DRAFT_YEAR >= 1980 AND DRAFT_YEAR != 'Undrafted';
"""
basketball_db_Player_Attributes_df = pd.read_sql(query, connection)
basketball_db_Player_Attributes_df

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR
0,76001,Alaa Abdelnaby,1968-06-24T00:00:00,Forward,1990
1,51,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Guard,1990
2,1505,Tariq Abdul-Wahad,1974-11-03T00:00:00,Forward-Guard,1997
3,949,Shareef Abdur-Rahim,1976-12-11T00:00:00,Forward,1996
4,203518,Alex Abrines,1993-08-01T00:00:00,Guard,2013
...,...,...,...,...,...
2126,2583,Derrick Zimmerman,1981-12-02T00:00:00,Guard,2003
2127,1627757,Stephen Zimmerman,1996-09-09T00:00:00,Center,2016
2128,1627835,Paul Zipser,1994-02-18T00:00:00,Forward,2016
2129,1627790,Ante Zizic,1997-01-04T00:00:00,Center,2016
2130,1627826,Ivica Zubac,1997-03-18T00:00:00,Center,2016

In [4]:
basketball_db_Player_Attributes_df.dtypes

ID                    object
DISPLAY_FIRST_LAST    object
BIRTHDATE             object
POSITION              object
DRAFT_YEAR            object
dtype: object

In [5]:
# Force numeric values to integers
basketball_db_Player_Attributes_df['ID'] = basketball_db_Player_Attributes_df['ID'].astype(int)
basketball_db_Player_Attributes_df['DISPLAY_FIRST_LAST'] = basketball_db_Player_Attributes_df['DISPLAY_FIRST_LAST'].astype(str)
#basketball_db_Player_Attributes_df['BIRTHDATE'] = basketball_db_Player_Attributes_df['DISPLAY_FIRST_LAST'].astype('datetime64[ns]')
basketball_db_Player_Attributes_df['BIRTHDATE'] = pd.to_datetime(basketball_db_Player_Attributes_df['BIRTHDATE'], infer_datetime_format=True)
basketball_db_Player_Attributes_df['POSITION'] = basketball_db_Player_Attributes_df['POSITION'].astype(str)
basketball_db_Player_Attributes_df['DRAFT_YEAR'] = basketball_db_Player_Attributes_df['DRAFT_YEAR'].astype(int)
basketball_db_Player_Attributes_df.dtypes

ID                             int32
DISPLAY_FIRST_LAST            object
BIRTHDATE             datetime64[ns]
POSITION                      object
DRAFT_YEAR                     int32
dtype: object

In [6]:
basketball_db_Player_Attributes_df.head()

       ID   DISPLAY_FIRST_LAST  BIRTHDATE       POSITION  DRAFT_YEAR
0   76001       Alaa Abdelnaby 1968-06-24        Forward        1990
1      51   Mahmoud Abdul-Rauf 1969-03-09          Guard        1990
2    1505    Tariq Abdul-Wahad 1974-11-03  Forward-Guard        1997
3     949  Shareef Abdur-Rahim 1976-12-11        Forward        1996
4  203518         Alex Abrines 1993-08-01          Guard        2013

In [7]:
# Create Unique Identifier Field - Concatination of Name and Draft Year
# Converted to All Upper Case, All Punctuation and Spaces Stripped
basketball_db_Player_Attributes_df['GUID'] = basketball_db_Player_Attributes_df['DISPLAY_FIRST_LAST'] + basketball_db_Player_Attributes_df['DRAFT_YEAR'].astype(str)

# Strip out Single Quote/Apostrophe Characters, Commas, and Periods
basketball_db_Player_Attributes_df['GUID'] = basketball_db_Player_Attributes_df['GUID'].str.replace(r'[^\w\s]+', '')

# Strip out spaces
basketball_db_Player_Attributes_df['GUID'].replace('\s+', '', regex=True,inplace=True)

#Convert to Upper Case
basketball_db_Player_Attributes_df['GUID'] = basketball_db_Player_Attributes_df['GUID'].str.upper()

basketball_db_Player_Attributes_df.head(100)

C:\Users\18177\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR,GUID
0,76001,Alaa Abdelnaby,1968-06-24,Forward,1990,ALAAABDELNABY1990
1,51,Mahmoud Abdul-Rauf,1969-03-09,Guard,1990,MAHMOUDABDULRAUF1990
2,1505,Tariq Abdul-Wahad,1974-11-03,Forward-Guard,1997,TARIQABDULWAHAD1997
3,949,Shareef Abdur-Rahim,1976-12-11,Forward,1996,SHAREEFABDURRAHIM1996
4,203518,Alex Abrines,1993-08-01,Guard,2013,ALEXABRINES2013
...,...,...,...,...,...,...
95,76084,Carl Bailey,1958-04-23,Center,1980,CARLBAILEY1980
96,1847,Thurl Bailey,1961-04-07,Forward,1983,THURLBAILEY1983
97,1753,Toby Bailey,1975-11-19,Guard,1998,TOBYBAILEY1998
98,203946,Cameron Bairstow,1990-12-07,Forward-Center,2014,CAMERONBAIRSTOW2014
99,452,Vin Baker,1971-11-23,Forward,1993,VINBAKER1993

In [8]:
# Calculate Age at October 15 of Rookie Season

# Concatenate Draft Year and October 15 Constant
basketball_db_Player_Attributes_df['APROX_START_ROOKIE_SEASON'] = basketball_db_Player_Attributes_df['DRAFT_YEAR'].astype(str)+'-10-15' 

# Convert to Date-Time Data Type
basketball_db_Player_Attributes_df['APROX_START_ROOKIE_SEASON'] = pd.to_datetime(basketball_db_Player_Attributes_df['APROX_START_ROOKIE_SEASON'], infer_datetime_format=True)

# Calculate Age
basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'] = (basketball_db_Player_Attributes_df['APROX_START_ROOKIE_SEASON'] - basketball_db_Player_Attributes_df['BIRTHDATE'])
#basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'] = basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'].astype('%m')

import numpy as np

# Convert age at rookie season to two digit decimal
basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'] = basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'] / np.timedelta64(1, 'Y')
basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'] = basketball_db_Player_Attributes_df['AGE_ROOKIE_SEASON'].round(2)

basketball_db_Player_Attributes_df.head(100)

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR,GUID,APROX_START_ROOKIE_SEASON,AGE_ROOKIE_SEASON
0,76001,Alaa Abdelnaby,1968-06-24,Forward,1990,ALAAABDELNABY1990,1990-10-15,22.31
1,51,Mahmoud Abdul-Rauf,1969-03-09,Guard,1990,MAHMOUDABDULRAUF1990,1990-10-15,21.60
2,1505,Tariq Abdul-Wahad,1974-11-03,Forward-Guard,1997,TARIQABDULWAHAD1997,1997-10-15,22.95
3,949,Shareef Abdur-Rahim,1976-12-11,Forward,1996,SHAREEFABDURRAHIM1996,1996-10-15,19.84
4,203518,Alex Abrines,1993-08-01,Guard,2013,ALEXABRINES2013,2013-10-15,20.21
...,...,...,...,...,...,...,...,...
95,76084,Carl Bailey,1958-04-23,Center,1980,CARLBAILEY1980,1980-10-15,22.48
96,1847,Thurl Bailey,1961-04-07,Forward,1983,THURLBAILEY1983,1983-10-15,22.52
97,1753,Toby Bailey,1975-11-19,Guard,1998,TOBYBAILEY1998,1998-10-15,22.91
98,203946,Cameron Bairstow,1990-12-07,Forward-Center,2014,CAMERONBAIRSTOW2014,2014-10-15,23.86
99,452,Vin Baker,1971-11-23,Forward,1993,VINBAKER1993,1993-10-15,21.90

In [9]:
# Create bins in which to group players based on Draft Year
bins = [1979, 1989, 1999, 2009, 2019]

# Create labels for these bins
group_labels = ["1980s","1990s","2000s","2010s"]

# Slice the data and place it into bins
pd.cut(basketball_db_Player_Attributes_df["DRAFT_YEAR"], bins, labels=group_labels).head()

# Place the data series into a new column inside of the DataFrame
basketball_db_Player_Attributes_df["Draft_Decade"] = pd.cut(basketball_db_Player_Attributes_df["DRAFT_YEAR"], bins, labels=group_labels)
basketball_db_Player_Attributes_df.head(50)

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR,GUID,APROX_START_ROOKIE_SEASON,AGE_ROOKIE_SEASON,Draft_Decade
0,76001,Alaa Abdelnaby,1968-06-24,Forward,1990,ALAAABDELNABY1990,1990-10-15,22.31,1990s
1,51,Mahmoud Abdul-Rauf,1969-03-09,Guard,1990,MAHMOUDABDULRAUF1990,1990-10-15,21.60,1990s
2,1505,Tariq Abdul-Wahad,1974-11-03,Forward-Guard,1997,TARIQABDULWAHAD1997,1997-10-15,22.95,1990s
3,949,Shareef Abdur-Rahim,1976-12-11,Forward,1996,SHAREEFABDURRAHIM1996,1996-10-15,19.84,1990s
4,203518,Alex Abrines,1993-08-01,Guard,2013,ALEXABRINES2013,2013-10-15,20.21,2010s
5,101165,Alex Acker,1983-01-21,Guard,2005,ALEXACKER2005,2005-10-15,22.73,2000s
6,76009,Mark Acres,1962-11-15,Center,1985,MARKACRES1985,1985-10-15,22.92,1980s
7,203112,Quincy Acy,1990-10-06,Forward,2012,QUINCYACY2012,2012-10-15,22.03,2010s
8,200801,Hassan Adams,1984-06-20,Forward,2006,HASSANADAMS2006,2006-10-15,22.32,2000s
9,203919,Jordan Adams,1994-07-08,Guard,2014,JORDANADAMS2014,2014-10-15,20.27,2010s
10,149,Michael Adams,1963-01-19,Guard,1985,MICHAELADAMS1985,1985-10-15,22.74,1980s
11,203500,Steven Adams,1993-07-20,Center,2013,STEVENADAMS2013,2013-10-15,20.24,2010s
12,912,Rafael Addison,1964-07-22,Forward,1986,RAFAELADDISON1986,1986-10-15,22.23,1980s
13,1628389,Bam Adebayo,1997-07-18,Center-Forward,2017,BAMADEBAYO2017,2017-10-15,20.24,2010s
14,201167,Arron Afflalo,1985-10-15,Guard,2007,ARRONAFFLALO2007,2007-10-15,22.00,2000s
15,200772,Maurice Ager,1984-02-09,Forward-Guard,2006,MAURICEAGER2006,2006-10-15,22.68,2000s
16,76016,Mark Aguirre,1959-12-10,Forward,1981,MARKAGUIRRE1981,1981-10-15,21.85,1980s
17,76017,Danny Ainge,1959-03-17,Guard,1981,DANNYAINGE1981,1981-10-15,22.58,1980s
18,201582,Alexis Ajinca,1988-05-06,Center,2008,ALEXISAJINCA2008,2008-10-15,20.44,2000s
19,202374,Solomon Alabi,1988-03-21,Center,2010,SOLOMONALABI2010,2010-10-15,22.57,2010s
20,76019,Mark Alarie,1963-12-11,Forward,1986,MARKALARIE1986,1986-10-15,22.85,1980s
21,203128,Furkan Aldemir,1991-08-09,Forward-Center,2012,FURKANALDEMIR2012,2012-10-15,21.19,2010s
22,202332,Cole Aldrich,1988-10-31,Center,2010,COLEALDRICH2010,2010-10-15,21.96,2010s
23,200746,LaMarcus Aldridge,1985-07-19,Center-Forward,2006,LAMARCUSALDRIDGE2006,2006-10-15,21.24,2000s
24,76021,Chuck Aleksinas,1959-02-26,Center,1982,CHUCKALEKSINAS1982,1982-10-15,23.63,1980s
25,724,Cory Alexander,1973-06-22,Guard,1995,CORYALEXANDER1995,1995-10-15,22.31,1990s
26,2042,Courtney Alexander,1977-04-27,Guard,2000,COURTNEYALEXANDER2000,2000-10-15,23.47,2000s
27,201570,Joe Alexander,1986-12-26,Forward,2008,JOEALEXANDER2008,2008-10-15,21.80,2000s
28,2349,Victor Alexander,1969-08-31,Forward,1991,VICTORALEXANDER1991,1991-10-15,22.12,1990s
29,1629638,Nickeil Alexander-Walker,1998-09-02,Guard,2019,NICKEILALEXANDERWALKER2019,2019-10-15,21.12,2010s
30,76024,Steve Alford,1964-11-23,Guard,1987,STEVEALFORD1987,1987-10-15,22.89,1980s
31,1628960,Grayson Allen,1995-10-08,Guard,2018,GRAYSONALLEN2018,2018-10-15,23.02,2010s
32,1628386,Jarrett Allen,1998-04-21,Center,2017,JARRETTALLEN2017,2017-10-15,19.49,2010s
33,706,Jerome Allen,1973-01-28,Guard,1995,JEROMEALLEN1995,1995-10-15,22.71,1990s
34,1628443,Kadeem Allen,1993-01-15,Guard,2017,KADEEMALLEN2017,2017-10-15,24.75,2010s
35,202730,Lavoy Allen,1989-02-04,Forward-Center,2011,LAVOYALLEN2011,2011-10-15,22.69,2010s
36,951,Ray Allen,1975-07-20,Guard,1996,RAYALLEN1996,1996-10-15,21.24,1990s
37,2754,Tony Allen,1982-01-11,Guard-Forward,2004,TONYALLEN2004,2004-10-15,22.76,2000s
38,76030,Darrell Allums,1958-09-12,Forward,1980,DARRELLALLUMS1980,1980-10-15,22.09,1980s
39,201165,Morris Almond,1985-02-02,Guard,2007,MORRISALMOND2007,2007-10-15,22.70,2000s
40,308,Derrick Alston,1972-08-20,Center,1994,DERRICKALSTON1994,1994-10-15,22.15,1990s
41,1747,Rafer Alston,1976-07-24,Guard,1998,RAFERALSTON1998,1998-10-15,22.23,1990s
42,202329,Al-Farouq Aminu,1990-09-21,Forward,2010,ALFAROUQAMINU2010,2010-10-15,20.07,2010s
43,2431,David Andersen,1980-06-23,,2002,DAVIDANDERSEN2002,2002-10-15,22.31,2000s
44,1507,Derek Anderson,1974-07-18,Guard,1997,DEREKANDERSON1997,1997-10-15,23.24,1990s
45,76037,Dwight Anderson,1960-12-28,Guard,1982,DWIGHTANDERSON1982,1982-10-15,21.80,1980s
46,246,Greg Anderson,1964-06-22,Center-Forward,1987,GREGANDERSON1987,1987-10-15,23.31,1980s
47,202341,James Anderson,1989-03-25,Guard-Forward,2010,JAMESANDERSON2010,2010-10-15,21.56,2010s
48,1626147,Justin Anderson,1993-11-19,Forward-Guard,2015,JUSTINANDERSON2015,2015-10-15,21.90,2010s
49,72,Kenny Anderson,1970-10-09,Guard,1991,KENNYANDERSON1991,1991-10-15,21.02,1990s

In [10]:
#Parse Position so that only first listed position remains
# Based on example found at https://stackoverflow.com/questions/51404032/python-pandas-slice-column-string-up-to-a-character-based-on-condition

basketball_db_Player_Attributes_df["POSITION"] = basketball_db_Player_Attributes_df.POSITION.str.split('\-', expand=True)[0]
basketball_db_Player_Attributes_df.head(100)

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR,GUID,APROX_START_ROOKIE_SEASON,AGE_ROOKIE_SEASON,Draft_Decade
0,76001,Alaa Abdelnaby,1968-06-24,Forward,1990,ALAAABDELNABY1990,1990-10-15,22.31,1990s
1,51,Mahmoud Abdul-Rauf,1969-03-09,Guard,1990,MAHMOUDABDULRAUF1990,1990-10-15,21.60,1990s
2,1505,Tariq Abdul-Wahad,1974-11-03,Forward,1997,TARIQABDULWAHAD1997,1997-10-15,22.95,1990s
3,949,Shareef Abdur-Rahim,1976-12-11,Forward,1996,SHAREEFABDURRAHIM1996,1996-10-15,19.84,1990s
4,203518,Alex Abrines,1993-08-01,Guard,2013,ALEXABRINES2013,2013-10-15,20.21,2010s
...,...,...,...,...,...,...,...,...,...
95,76084,Carl Bailey,1958-04-23,Center,1980,CARLBAILEY1980,1980-10-15,22.48,1980s
96,1847,Thurl Bailey,1961-04-07,Forward,1983,THURLBAILEY1983,1983-10-15,22.52,1980s
97,1753,Toby Bailey,1975-11-19,Guard,1998,TOBYBAILEY1998,1998-10-15,22.91,1990s
98,203946,Cameron Bairstow,1990-12-07,Forward,2014,CAMERONBAIRSTOW2014,2014-10-15,23.86,2010s
99,452,Vin Baker,1971-11-23,Forward,1993,VINBAKER1993,1993-10-15,21.90,1990s

In [11]:
# Set new index and drop existing index
basketball_db_Player_Attributes_df.set_index('GUID')

,ID,DISPLAY_FIRST_LAST,BIRTHDATE,POSITION,DRAFT_YEAR,APROX_START_ROOKIE_SEASON,AGE_ROOKIE_SEASON,Draft_Decade
GUID,,,,,,,,
ALAAABDELNABY1990,76001,Alaa Abdelnaby,1968-06-24,Forward,1990,1990-10-15,22.31,1990s
MAHMOUDABDULRAUF1990,51,Mahmoud Abdul-Rauf,1969-03-09,Guard,1990,1990-10-15,21.60,1990s
TARIQABDULWAHAD1997,1505,Tariq Abdul-Wahad,1974-11-03,Forward,1997,1997-10-15,22.95,1990s
SHAREEFABDURRAHIM1996,949,Shareef Abdur-Rahim,1976-12-11,Forward,1996,1996-10-15,19.84,1990s
ALEXABRINES2013,203518,Alex Abrines,1993-08-01,Guard,2013,2013-10-15,20.21,2010s
...,...,...,...,...,...,...,...,...
DERRICKZIMMERMAN2003,2583,Derrick Zimmerman,1981-12-02,Guard,2003,2003-10-15,21.87,2000s
STEPHENZIMMERMAN2016,1627757,Stephen Zimmerman,1996-09-09,Center,2016,2016-10-15,20.10,2010s
PAULZIPSER2016,1627835,Paul Zipser,1994-02-18,Forward,2016,2016-10-15,22.66,2010s
ANTEZIZIC2016,1627790,Ante Zizic,1997-01-04,Center,2016,2016-10-15,19.78,2010s
IVICAZUBAC2016,1627826,Ivica Zubac,1997-03-18,Center,2016,2016-10-15,19.58,2010s

In [12]:
# Check datatypes
basketball_db_Player_Attributes_df.dtypes

ID                                    int32
DISPLAY_FIRST_LAST                   object
BIRTHDATE                    datetime64[ns]
POSITION                             object
DRAFT_YEAR                            int32
GUID                                 object
APROX_START_ROOKIE_SEASON    datetime64[ns]
AGE_ROOKIE_SEASON                   float64
Draft_Decade                       category
dtype: object

In [13]:
# Identify incomplete rows
basketball_db_Player_Attributes_df.count()

ID                           2131
DISPLAY_FIRST_LAST           2131
BIRTHDATE                    2131
POSITION                     2131
DRAFT_YEAR                   2131
GUID                         2131
APROX_START_ROOKIE_SEASON    2131
AGE_ROOKIE_SEASON            2131
Draft_Decade                 2131
dtype: int64

In [14]:
# import the necessary packages
import psycopg2
from sqlalchemy import create_engine
  
# Create the engine to connect to the database 
engine = create_engine(
    'postgresql+psycopg2://postgres:[password]@[hostname]:[port]/[DB]')

# Write data into the table in database
basketball_db_Player_Attributes_df.to_sql('basketball_db_Player_Attributes', engine)